.activeUsers {
    display: block;
    padding: 0.5em;
    margin: 0 10px 0 10px;
    color: var(--txt-color);
}
.avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px -10px;
}
.sidebarActiveList {
    grid-area: active;
    display: grid;
    align-items: start;
    justify-content: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    border: 1px solid black;
    border-right: 2px solid black;
}
.listHeader {
    justify-self: stretch;
    color: var(--txt-color);
    padding-left: 1em;
}
.activeList {
    max-height: 100%;
    list-style-type: none;
    padding: 0;
    overflow: auto;
}
