.activeUsers {
    display: block;
    padding: 0.5em;
    margin: 0 10px 0 10px;
    color: var(--txt-color);
}
.avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid var(--txt-color);
    display: inline-block;
    margin: 0 10px -10px;
}
.sidebarActiveList {
    grid-area: active;
    display: grid;
    align-items: start;
    justify-content: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    border: 1px solid black;
    border-right: 2px solid black;
    overflow: auto;
}
.listHeader {
    justify-self: stretch;
    color: var(--txt-color);
    padding-left: 1em;
}
.activeList {
    max-height: 100%;
    list-style-type: none;
    padding: 0;
}
@media only screen and (max-width: 600px) {
    .activeUsers {
        margin: 0;
        font-size: 0.8rem;
    }
    .avatar {
        height: 25px;
        width: 25px;
        margin: 0 5px -5px;
    }
    .listHeader {
        padding-left: 0.5em;
    }
    .listHeader h2 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .activeUsers {
        margin: 0 20px 0 0;
        font-size: 1rem;
    }
    .avatar {
        height: 30px;
        width: 30px;
        margin: 0 10px -10px;
    }
    .sidebarActiveList {
        display: grid;
    }
    .listHeader {
        padding-left: 0.5em;
    }
    .listHeader h2 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .listHeader {
        padding-left: 0.5em;
    }
    .listHeader h2 {
        font-size: 1rem;
    }
}
