.sidebar {
    margin: 0;
    grid-area: sidebar;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'active'
        'offline';
    background-color: var(--sidebar-bg-color);
    transition: width 0.5s ease-in-out;
}
.sidebar.hidden {
    width: 0; /* Set the width to 0 to hide the sidebar */
}
