.buttonLogin {
    margin-right: 2em;
    justify-self: end;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background-color: var(--button-logIn-color);
    color: var(--button-txt-color);
    grid-column: 4;
    cursor: pointer;
}
.buttonLogin:hover {
    background-color: var(--button-logIn-hover-color);
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    overflow-y: auto;
}

.title {
    font-size: 2em;
    text-align: center;
}

.section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    font-size: 1em;
}

.cardOne,
.cardTwo,
.cardThree,
.cardFour {
    margin: 10px;
    padding: 20px;
    display: inline-flex;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
    max-width: 50%;
    margin-bottom: 1em;
    font-size: 1.2em;
}

.cardOne,
.cardThree {
    margin-left: auto;
}

.cardTwo,
.cardFour {
    margin-right: auto;
}

.cardOne {
    text-align: right;
    color: var(--txt-color);
    background-color: var(--cardOneThree-bg-color);
}

.cardTwo {
    color: var(--txt-color);
    text-align: left;
    background-color: var(--cardTwoFour-bg-color);
}

.cardThree {
    color: var(--txt-color);
    text-align: right;
    background-color: var(--cardOneThree-bg-color);
}

.cardFour {
    color: var(--txt-color);
    text-align: left;
    background-color: var(--cardTwoFour-bg-color);
}
@media only screen and (max-width: 600px) {
    .buttonLogin {
        justify-self: end;
        margin: 0;
    }
    .title {
        font-size: 1.5em;
    }
    .section {
        font-size: 1.5em;
    }
    .cardOne,
    .cardTwo,
    .cardThree,
    .cardFour {
        font-size: 0.5em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .buttonLogin {
        justify-self: end;
        margin: 0;
    }
    .title {
        font-size: 1.5em;
    }
    .section {
        font-size: 1.5em;
    }
    .cardOne,
    .cardTwo,
    .cardThree,
    .cardFour {
        font-size: 0.5em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .buttonLogin {
        justify-self: end;
        margin: 0;
    }
    .title {
        font-size: 1.5em;
    }
    .section {
        font-size: 1.5em;
    }
    .cardOne,
    .cardTwo,
    .cardThree,
    .cardFour {
        font-size: 0.5em;
    }
}
