.layout {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
    border: 2px solid black;
}
.buttonLogin {
    justify-self: end;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background-color: green;
    color: white;
    grid-column: 4;
}
