.layout {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
}
.buttonLogin {
    margin-right: 2em;
    justify-self: end;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background-color: var(--button-logIn-color);
    color: var(--button-txt-color);
    grid-column: 4;
    cursor: pointer;
}
.buttonLogin:hover {
    background-color: var(--button-logIn-hover-color);
}
