.loginContent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.loginForm {
    flex: 1;
    max-width: 600px;
    border-radius: 10px;
    border: 1px solid var(--logInForm-border-color);
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 10px 10px 5px var(--box-shadow-color);
}
.formHeader {
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
}
.formHeader h2 {
    font-size: 28px;
    text-align: center;
    color: var(--txt-color);
}
.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputWithButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    border: 1px solid #999;
    border-radius: 10px;
    margin: 10px 5px;
}
.inputWithButton button {
    margin: 0 1em 0 1em;
    cursor: pointer;
}
.nickname {
    margin-right: 1rem;
    padding-left: 1em;
}
.color {
    margin-right: 1rem;
    padding-left: 1em;
}
.nicknameInput {
    font-size: 18px;
    width: 70%;
    height: 50px;
    color: var(--txt-color);
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: var(--inputWithButton-bg-color);
    outline: none;
    text-align: center;
}
.nicknameInput:hover {
    background: var(--inputWithButton-hover-color);
}
.nicknameInput::placeholder {
    color: var(--placeholder-color);
}
.colorInput {
    font-size: 18px;
    width: 100%;
    height: 50px;
    color: #666;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: var(--inputWithButton-bg-color);
    outline: none;
    cursor: pointer;
}

.formFooter {
    display: flex;
    justify-content: center;
}
.submitButton {
    justify-self: center;
    height: 3rem;
    width: 5rem;
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--button-logIn-color);
    color: var(--button-txt-color);
}
.submitButton:hover {
    background-color: var(--button-logIn-hover-color);
}
