.layout {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
    border: 2px solid black;
}
.layoutChatroom {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'sidebar header'
        'sidebar main'
        'sidebar footer';
    border: 2px solid black;
}
