html,
body {
    font-family: sans-serif;
    margin: 0;
    overflow-y: hidden;
}
.App {
    margin: 0px;
    font-size: 16px;
    height: 100vh;
}
* {
    box-sizing: inherit;
}
.layout {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
    border: 2px solid black;
}
.layout-chatroom {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'sidebar header'
        'sidebar main'
        'sidebar footer';
    border: 2px solid black;
}

.sidebar {
    margin: 0;
    grid-area: sidebar;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50%;
    grid-template-areas:
        'active'
        'offline';
    background-color: rgb(137, 153, 148);
}
.sidebar-active-list {
    grid-area: active;
    display: grid;
    align-items: start;
    justify-content: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    border: 1px solid black;
    /* overflow: auto; */
}
.sidebar-offline-list {
    grid-area: offline;
    display: grid;
    align-items: start;
    justify-content: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    border: 1px solid black;
    border-top: none;
}
.active-list {
    max-height: 100%;
    list-style-type: none;
    padding: 0;
    overflow: auto;
}
.offline-list {
    max-height: 100%;
    list-style-type: none;
    padding: 0;
    overflow: auto;
}
.list-header {
    justify-self: stretch;
    color: whitesmoke;
    padding-left: 1em;
}
.avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px -10px;
}
.active-users {
    display: block;
    padding: 1em;
    border: 1px solid black;
    margin: 1px;
    background-color: #b0cfbf;
}
.offline-users {
    display: block;
    padding: 1em;
    border: 1px solid black;
    margin: 1px;
    background-color: #606562;
}

header {
    display: grid;
    grid-area: header;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0 20px;
    background-color: rgb(137, 153, 148);
    color: whitesmoke;
    border: 1px solid rgb(64, 63, 63);
    border-left: none;
}

header h1 {
    justify-self: start;
    grid-column: 2;
}

header .button-login {
    justify-self: end;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background-color: green;
    color: white;
    grid-column: 4;
}

header img {
    justify-self: center;
    grid-column: 1;
    height: 70px;
}
main {
    grid-area: main;
    overflow: auto;
    background-color: #f1eacb;
    align-items: center;
}

.main-footer {
    grid-area: footer;
    background-color: rgb(137, 153, 148);
    border: 1px solid rgb(64, 63, 63);
    border-left: none;
}
.main-footer h3 {
    text-align: center;
}
.login-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-form {
    flex: 1;
    max-width: 600px;
    border-radius: 10px;
    border: 1px solid #999;
    margin-top: auto;
    margin-bottom: auto;
}
.form-header {
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
}
.form-header h2 {
    font-size: 28px;
    text-align: center;
    color: #666;
}
.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-with-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    border: 1px solid red;
    margin: 10px 5px;
}
.nickname {
    margin-right: 1rem;
}
.color {
    margin-right: 1rem;
}
.nickname-input {
    font-size: 18px;
    width: 70%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #666;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
    margin-right: 1rem;
    text-align: center;
}

input[type='color'] {
    font-size: 18px;
    width: 65%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #666;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
    margin-right: 1rem;
}

.form-footer {
    display: flex;
    justify-content: center;
}

.submit-button {
    justify-self: center;
    height: 3rem;
    width: 5rem;
    margin: 1rem;
    border-radius: 5px;
}

.my-room {
    justify-self: start;
}
.button-logout {
    justify-self: end;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    background-color: orangered;
    color: white;
}

.main-messages {
    padding: 20px;
    overflow: auto;
}

.send-form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    justify-content: space-between;
    background-color: rgb(137, 153, 148);
    padding: 15px;
}

.message-input {
    grid-column: 1;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: start;
}

.send-button {
    justify-self: end;
    border: none;
    background-color: rgb(137, 153, 148);
}
.message-sent {
    flex-direction: row-reverse;
    text-align: right;
}
.message-received {
    display: flex;
}
.chat-messages {
    display: inline-block;
}
.message-sent > .chat-messages {
    align-items: flex-end;
}
.chat-messages > .username {
    display: block;
    color: gray;
    font-size: 14px;
    padding-bottom: 4px;
}
.chat-messages > .msg span {
    padding: 10px;
    max-width: max-content;
    font-size: 16px;
    margin: 0;
    border-radius: 10px;
    display: inline-block;
}
.chat-messages > .time {
    display: block;
    color: gray;
    font-size: 14px;
    padding-bottom: 4px;
    margin-bottom: 10px;
}
