body {
    overflow-y: hidden;
    height: 100vh;
    background-color: peachpuff;
}
html {
    height: 100%;
}

.App {
    margin: 0px;
    font-size: 16px;
    height: 100vh;
}
* {
    box-sizing: inherit;
}

.chatroom-container {
    margin: 0;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'sidebar header'
        'sidebar main'
        'sidebar footer';
    border: 2px solid black;
    height: 100vh;
}

.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    color: #fff;
    padding: 20px;
    border: 2px solid black;
    border-left: none;
}

.my-room {
    justify-self: start;
}

.button-logout {
    justify-self: end;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    background-color: orangered;
    color: white;
}

.sidebar {
    grid-area: sidebar;
    background-color: grey;
    padding: 20px;
    border: 2px solid black;
}

.sidebar > ul {
    list-style: none;
}
.sidebar > ul li {
    padding: 10px;
    max-width: max-content;
    font-size: 16px;
    margin: 2px;
    border: 2px solid black;
    display: inline-block;
    background-color: #fff;
}
.avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px -10px;
}
main {
    grid-area: main;
    padding: 20px;
    background-color: white;
    overflow: auto;
}

.input {
    display: grid;
    grid-area: footer;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    padding: 15px;
    border: 2px solid black;
    border-left: none;
}

.input input[type='text'] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.input button {
    justify-self: end;
    margin-left: 40px;
}
.message-sent {
    flex-direction: row-reverse;
    text-align: right;
}
.message-received {
    display: flex;
}
.chat-messages {
    display: inline-block;
}
.message-sent > .chat-messages {
    align-items: flex-end;
}
.chat-messages > .username {
    display: block;
    color: gray;
    font-size: 14px;
    padding-bottom: 4px;
}
.chat-messages > .msg span {
    padding: 10px;
    max-width: max-content;
    font-size: 16px;
    margin: 0;
    border-radius: 10px;
    display: inline-block;
}
.chat-messages > .time {
    display: block;
    color: gray;
    font-size: 14px;
    padding-bottom: 4px;
    margin-bottom: 10px;
}
