.sendForm {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    justify-content: space-between;
    padding: 15px;
    /* border: 1px solid black; */
    border-left: none;
}
.messageInput {
    grid-column: 1;
    padding: 15px;
    border: 2px solid black;
    border-radius: 30px;
    text-align: start;
    background-color: var(--main-content-bg-color);
    color: var(--txt-color);
}

.sendButton {
    justify-self: end;
    border: none;
    background-color: var(--button-theme-color);
    cursor: pointer;
}
