.layout {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
}
header {
    display: grid;
    grid-area: header;
    grid-template-columns: auto auto 2fr;
    align-items: center;
    padding: 0px 20px 0 20px;
    background-color: var(--header-bg-color);
    color: var(--txt-color);
    border: 2px solid black;
    border-left: none;
}

header h1 {
    margin-left: 0.5rem;
    justify-self: start;
    grid-column: 2;
}

header img {
    justify-self: center;
    grid-column: 1;
    height: 70px;
    margin-left: 2em;
}
main {
    grid-area: main;
    overflow: auto;
    color: var(--txt-color);
    background-color: var(--main-content-bg-color);
    align-items: center;
}
.mainFooter {
    grid-area: footer;
    color: var(--txt-color);
    background-color: var(--footer-bg-color);
    border: 2px solid black;
    border-left: none;
}
.mainFooter h3 {
    text-align: center;
}

a {
    color: var(--a-txt-color);
}
.themeButton {
    grid-column: 3;
    margin-right: 2em;
    justify-self: end;
    width: 3em;
    height: 3em;
    border: none;
    border-radius: 50%;
    background-color: var(--button-theme-color);
    cursor: pointer;
}
.themeButton:hover {
    background-color: var(--button-theme-hover-color);
}

@media only screen and (max-width: 600px) {
    .layout {
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            'header'
            'main'
            'footer';
    }
    header {
        grid-template-columns: auto 1fr;
        padding: 0px 10px 0 10px;
    }
    header img {
        margin-left: 0;
        height: 50px;
    }
    .themeButton {
        margin-right: 1em;
        width: 2.5em;
        height: 2.5em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    header {
        grid-template-columns: auto 1fr;
        padding: 0px 10px 0 10px;
    }
    header img {
        margin-left: 0;
        height: 50px;
    }
    .themeButton {
        margin-right: 1em;
        width: 2.5em;
        height: 2.5em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            'header'
            'main'
            'footer';
    }
    header {
        grid-template-columns: auto auto 1fr;
        padding: 0px 20px 0 20px;
    }
    header img {
        margin-left: 0;
        height: 60px;
    }
}
